{% extends 'base/main.html' %}

{% block title %}
    О нас
{% endblock %}

{% block content %}
    <h1>О нас</h1>
    <section>
        <h2>Подзаголовок</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi omnis 
            ab soluta, accusamus beatae tempore culpa ducimus perspiciatis ea 
            praesentium fugiat iste sed illum dolor perferendis laboriosam repellat 
            nostrum. Odit fugiat mollitia quasi culpa minus optio libero, nihil 
            adipisci tenetur aliquid odio. Quos facilis voluptatibus qui et at 
            dolores. Temporibus, voluptates. Aliquid facere debitis itaque beatae 
            odio iure magni est reiciendis similique explicabo praesentium quia, 
            assumenda tempore enim. Iste quasi mollitia, facere dignissimos rem, 
            molestiae adipisci corrupti porro dicta eveniet alias ea minus eius 
            ullam incidunt, debitis provident accusamus saepe aut tempora pariatur 
            harum modi illo dolores! Fugiat non voluptatem reiciendis, voluptates 
            perspiciatis possimus quam exercitationem sed quasi quas praesentium 
            quisquam, eos ea laudantium, nobis quidem autem? Pariatur delectus quasi 
            amet quidem eligendi beatae cumque? Est aspernatur repellendus veniam 
            ea, cupiditate, exercitationem tempore natus quis molestiae blanditiis 
            libero, qui temporibus itaque fugit. Aut exercitationem sed culpa, optio 
            ipsam hic eum.
        </p>
    </section>
    <section>
        <h2>Подзаголовок</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi omnis 
            ab soluta, accusamus beatae tempore culpa ducimus perspiciatis ea 
            praesentium fugiat iste sed illum dolor perferendis laboriosam repellat 
            nostrum. Odit fugiat mollitia quasi culpa minus optio libero, nihil 
            adipisci tenetur aliquid odio. Quos facilis voluptatibus qui et at 
            dolores. Temporibus, voluptates. Aliquid facere debitis itaque beatae 
            odio iure magni est reiciendis similique explicabo praesentium quia, 
            assumenda tempore enim. Iste quasi mollitia, facere dignissimos rem, 
            molestiae adipisci corrupti porro dicta eveniet alias ea minus eius 
            ullam incidunt, debitis provident accusamus saepe aut tempora pariatur 
            harum modi illo dolores! Fugiat non voluptatem reiciendis, voluptates 
            perspiciatis possimus quam exercitationem sed quasi quas praesentium 
            quisquam, eos ea laudantium, nobis quidem autem? Pariatur delectus quasi 
            amet quidem eligendi beatae cumque? Est aspernatur repellendus veniam 
            ea, cupiditate, exercitationem tempore natus quis molestiae blanditiis 
            libero, qui temporibus itaque fugit. Aut exercitationem sed culpa, optio 
            ipsam hic eum.
        </p>
    </section>
    <section>
        <h2>Подзаголовок</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi omnis 
            ab soluta, accusamus beatae tempore culpa ducimus perspiciatis ea 
            praesentium fugiat iste sed illum dolor perferendis laboriosam repellat 
            nostrum. Odit fugiat mollitia quasi culpa minus optio libero, nihil 
            adipisci tenetur aliquid odio. Quos facilis voluptatibus qui et at 
            dolores. Temporibus, voluptates. Aliquid facere debitis itaque beatae 
            odio iure magni est reiciendis similique explicabo praesentium quia, 
            assumenda tempore enim. Iste quasi mollitia, facere dignissimos rem, 
            molestiae adipisci corrupti porro dicta eveniet alias ea minus eius 
            ullam incidunt, debitis provident accusamus saepe aut tempora pariatur 
            harum modi illo dolores! Fugiat non voluptatem reiciendis, voluptates 
            perspiciatis possimus quam exercitationem sed quasi quas praesentium 
            quisquam, eos ea laudantium, nobis quidem autem? Pariatur delectus quasi 
            amet quidem eligendi beatae cumque? Est aspernatur repellendus veniam 
            ea, cupiditate, exercitationem tempore natus quis molestiae blanditiis 
            libero, qui temporibus itaque fugit. Aut exercitationem sed culpa, optio 
            ipsam hic eum.
        </p>
    </section>
{% endblock %}
