{% extends 'base/main.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    <p>
        HTML Text Generator — это WYSIWYG-решение для получения фрагментов 
        кода для вашего стилизованного текста или шрифта, которые вы можете 
        встроить в свой проект.
    </p>
    <section>
        <h2>Подзаголовок</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Reiciendis dicta ducimus earum eveniet animi porro ad quo, 
            error iure eius? Nostrum sed odit harum omnis velit recusandae 
            voluptas ullam temporibus?
        </p>
    </section>
    <section>
        <h2>Подзаголовок</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Reiciendis dicta ducimus earum eveniet animi porro ad quo, 
            error iure eius? Nostrum sed odit harum omnis velit recusandae 
            voluptas ullam temporibus?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Reiciendis dicta ducimus earum eveniet animi porro ad quo, 
            error iure eius? Nostrum sed odit harum omnis velit recusandae 
            voluptas ullam temporibus?
        </p>
    </section>
    <section>
        <h2>Подзаголовок</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Reiciendis dicta ducimus earum eveniet animi porro ad quo, 
            error iure eius? Nostrum sed odit harum omnis velit recusandae 
            voluptas ullam temporibus?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Reiciendis dicta ducimus earum eveniet animi porro ad quo, 
            error iure eius? Nostrum sed odit harum omnis velit recusandae 
            voluptas ullam temporibus?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Reiciendis dicta ducimus earum eveniet animi porro ad quo, 
            error iure eius? Nostrum sed odit harum omnis velit recusandae 
            voluptas ullam temporibus?
        </p>
    </section>
{% endblock %}
