{{define "content"}}
{{template "header"}}
<title>{{.Title}}</title>
{{template "menu"}}
<main>
    <h1>Регистрация пользователя</h1>
    <hr>
    <form method="POST">
        <input type="text" name="name" placeholder="Имя"><br><br>
        <input type="password" name="password" placeholder="Пароль"><br><br>
        <input type="email" name="email" placeholder="Почта"><br><br>
        <input type="date" name="dataBirth" placeholder="Дата рождения"><br><br>
        <select name="course">
            {{range .Courses}}
                <option value="{{.Id}}">{{.Name}}</option>
            {{end}}
        </select>
        <br>
        <button type="submit">Отправить</button>
    </form>
</main>
{{template "footer"}}
{{end}}