{{define "content"}}
{{template "header"}}
{{template "menu"}}
<main>
    <h1>Регистрация пользователя</h1>
    <form method="POST">
        <input type="text" name="name" placeholder="Имя"><br><br>
        <input type="password" name="password" placeholder="Пароль"><br><br>
        <input type="email" name="email" placeholder="Почта"><br><br>
        <input type="date" name="dataBirth" placeholder="Дата рождения"><br><br>
        <input type="number" name="course_id" placeholder="course_id" value=2><br><br>
<!--
        <select name="course_id">
            {{range .course_id}}
                <option value="{{.Id}}">{{.Name}}</option>
            {{end}}
        </select>
-->
        <button type="submit">Отправить</button>
    </form>
</main>
{{template "footer"}}
{{end}}