{{define "content"}}
{{template "header"}}
<title>{{.Title}}</title>
{{template "menu"}}
<main>
    <h1>Пользователь {{.User.Id}}</h1>
    <hr>
    <div>
        <p>Имя: {{.User.Name}}</p>
        <img src="{{.User.Avatar}}" alt="" class="avatar">
        <p>Почта: {{.User.Email}}</p>
        <p>Дата рождения: {{.User.DataBirth}}</p>
        <p>Дисциплина: {{.User.Course}}</p>
        <p>Заригистрировался: {{.User.DataReg}}</p>
        <p>Статус: {{.User.Status}}</p>
        <p>Рейтинг %: {{.User.Rate}}</p>
    </div>
</main>
{{template "footer"}}
{{end}}