{{define "content"}}
{{template "header"}}
<title>{{.Title}}</title>
{{template "menu"}}
<main>
    <h1>Обновление данных пользователя</h1>
    <hr>
    <form method="POST">
        <input type="text" name="name" value="{{.User.Name}}"><br><br>
        <input type="password" name="password" value="{{.User.Password}}"><br><br>
        <input type="email" name="email" value="{{.User.Email}}"><br><br>
        <input type="date" name="dataBirth" value="{{.User.DataBirth}}"><br><br>
        <select name="course">
        {{range .Course}}
            {{if eq .Name $.User.Course}}
                <option selected value="{{.Id}}">{{.Name}}</option>
            {{else}}
                <option value="{{.Id}}">{{.Name}}</option>
            {{end}}
        {{end}}
        </select>
        <br>
        <button type="submit">Отправить</button>
    </form>
</main>
{{template "footer"}}
{{end}}