{{define "content"}}
{{template "header"}}
{{template "menu"}}
<main>
    <p>Цикл</p>
    {{range .}}
    <p>
        {{.Name}}
        <ul id="login">
            <li class="button"><a href="/get-user/{{.Id}}"> Пользователь </a></li>
            <li class="button"><a href="/update-user/{{.Id}}"> Изменить </a> </li>
            <li class="button"><a href="/delete-user/{{.Id}}"> Удалить </a> </li>
        </ul>
    {{else}}
        список пуст
    {{end}}
    </p>
</main>
{{template "footer"}}
{{end}}