html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: darkgreen;
}

form, div {
    margin: 16px;
    color: lime;
    text-align: center;
}

.stat {
    display: flex;
    border: 1px solid yellow;
}