<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О проекте</title>
    <link rel="shortcut icon" href="../view/img/icon.ico">
    <link rel="stylesheet" href="../view/css/normalize.css">
    <link rel="stylesheet" href="../view/css/style.css">
</head>
<body>
    <h1>О проекте</h1>
    <p>{{.}}</p>
    <div>
        <a href="/">Главная</a>
        <a href="/about">О проекте</a>
        <a href="/contact">Контакты</a>
    </div>
</body>
</html>