{{define "content"}}
{{template "header"}}
<title>{{.Title}}</title>
{{template "menu"}}
<main>
    <h1>Админ панель</h1>
    <hr>
    <h2>Инструментарий</h2>
    <div>
        <a href="/demo-migration/">Демо-миграция</a>
        <a href="/create-course/">Создать курс</a>
        <a href="/copy-DB/">Резервная копия БД</a>
        <a href="/users/">Все пользователи</a>
    </div>
    <hr>
    <h2>Список Дисциплин</h2>
    <hr>
    {{range .Course}}
        <div>
            {{.Name}}
            <a href="/get-course/{{.Id}}"> Дисциплина </a>
            <a href="/update-course/{{.Id}}"> Изменить </a>
            <a href="/delete-course/{{.Id}}"> Удалить </a>
        </div>
        <br>
    {{else}}
        список пуст
    {{end}}

    <hr>

    <h2>Список пользователей</h2>
    {{range .User}}
        <div>
            {{.Name}}
            <a href="/get-user/{{.Id}}"> Пользователь </a>
            <a href="/update-user/{{.Id}}"> Изменить </a>
            <a href="/delete-user/{{.Id}}"> Удалить </a>
        </div>
        <br>
    {{else}}
        список пуст
    {{end}}

    <hr>

    <h2>Список тестов</h2>
    {{range .Testing}}
        <div>
            {{.Name}}
            <a href="/get-test/{{.Id}}"> Тест </a>
            <a href="/update-test/{{.Id}}"> Изменить </a>
            <a href="/delete-test/{{.Id}}"> Удалить </a>
        </div>
        <br>
    {{else}}
        список пуст
    {{end}}
</main>
{{template "footer"}}
{{end}}