{{define "content"}}
{{template "header"}}
{{template "menu"}}
<main>
    <h1>Админ панель</h1>
    <hr>
    <p>Инструментарий</p>
    <div>
        <a href="/demo-migration/">Демо-миграция</a>
        <a href="/create-course/">Создать курс</a>
    </div>
    <hr>
    <p>Список Дисциплин</p>
    <hr>
    <p>Список пользователей</p>
    <p>Цикл</p>
    {{range .}}
        <div>
            {{.Name}}
            <a href="/get-user/{{.Id}}"> Пользователь </a>
            <a href="/update-user/{{.Id}}"> Изменить </a>
            <a href="/delete-user/{{.Id}}"> Удалить </a>
            <hr>
        </div>
    {{else}}
        список пуст
    {{end}}
</main>
{{template "footer"}}
{{end}}