{{define "content"}}
{{template "header"}}
<title>{{.Title}}</title>
{{template "menu"}}
<main>
    <h1>Об Авторе</h1>
    <p>Автор единственный и неповторимый(много текста)</p>
</main>
{{template "footer"}}
{{end}}


/*
Привет от создателя TestFlow!
Меня зовут Никита, и я тот человек, который, по сути, построил TestFlow в одиночку. Изначально мы планировали работать в команде, но в итоге все получилось так, как получилось. Не могу сказать, что это было просто, но я рад результату!
Моя мотивация: Я хотел создать крутой и удобный инструмент для опросов и тестирования. Надеюсь, у меня это получилось.
Мой вклад: Все, что вы видите в TestFlow, было создано моими руками и идеями. Я старался сделать его максимально простым и понятным для всех.
Спасибо за ваш интерес к TestFlow! Надеюсь, он окажется вам полезным.
*/