{{define "content"}}
{{template "header"}}
<title>{{.Title}}</title>
{{template "menu"}}
<main>
    <h1>Об авторе</h1>
    <hr>
    <section>
        <p>
            Привет от создателя <b>TestFlow</b>!
        </p>
        <p>
            Меня зовут Никита, и я тот человек, который, по сути, создал TestFlow в 
            одиночку. Изначально мы планировали работать в команде, но в итоге все 
            получилось так, как получилось. Не могу сказать, что это было просто, но я 
            рад результату!
        </p>
        <p>
            <u>Моя мотивация:</u> Я хотел создать крутой и удобный инструмент для опросов и 
            тестирования. Надеюсь, у меня это получилось.
        </p>
        <p>
            <u>Мой вклад:</u> Все, что вы видите в TestFlow, было создано моими руками и идеями. 
            Я старался сделать его максимально простым и понятным для всех.
        </p>
        <p>
            Спасибо за ваш интерес к TestFlow! Надеюсь, он окажется вам полезным.
        </p>
    </section>
</main>
{{template "footer"}}
{{end}}