{{define "content"}}
{{template "header"}}
<title>{{.Title}}</title>
{{template "menu"}}
<main class="col">
    <h1>Web-проект TestFlow</h1>
    <hr>
    <h2>Дисциплины</h2>
    <section class="list">
        {{range .Course}}
            <div class="product-card">
                <img src="{{.Icon}}" alt="{{.Name}}" class="product-image">
                <h2 class="product-title">{{.Name}}</h2>
                <a href="/get-course/{{.Id}}"> Подробнее </a>
            </div>
        {{else}}
           <p>список пуст</p>
        {{end}}
    </section>
    <h2>Тесты</h2>
    <section class="list">
        {{range .Testing}}
            {{.Name}}
            <a href="/get-test/{{.Id}}"> Пройти тест</a>
            <br><br>
        {{else}}
            список пуст
        {{end}}
    </section>
</main>
{{template "footer"}}
{{end}}