{{define "menu"}}
</head>
<body>
<header>
    <div class="header-content row">
        <a href="/"><img src="../view/img/fti.png" alt="Главная" class="logo"></a>
        <div class="col">
            <div class="title">Test Flow</div>
            <p class="subtitle">Web-проект для проведения тестирования</p>
        </div>
    </div>
</header>
<menu>
    <div class="right">
        <a href="/"><button class="btn-menu">Главная</button></a>
        <a href="/courses"><button class="btn-menu">Дисциплины</button></a>
        <a href="/testing"><button class="btn-menu">Тестирование</button></a>
        <a href="/about"><button class="btn-menu">О проекте</button></a>
        <a href="/author"><button class="btn-menu">Авторы</button></a>
    </div>
    <div class="left">
        <div class="buttons-container">
            <a href="#" id="entry"><button class="btn-menu">Войти</button></a>
            <a href="/create-user" id="registration"><button class="btn-menu">Регистрация</button></a>
        </div>
        
        <form action="/login-pass" class="row" id="login-form" style="display: none;">
            <input type="text" name="login" id="login" placeholder="Логин" class="input">
            <input type="password" name="pass" id="pass" placeholder="Пароль">
            <button type="submit" class="miniBtn">
                <img src="../view/img/icon/next.png" class="icon">
            </button>
        </form>

        <a href="/admin" title="Админ-панель">
            <img src="../view/img/icon/option.png" class="icon">
        </a>
    </div>
</menu>
{{end}}
