{{define "content"}}
{{template "header"}}
<title>{{.Title}}</title>
{{template "menu"}}
<main>
    <h1>Обновление данных дисциплнины</h1>
    <hr>
    <form method="POST">
        <input type="text" name="name" value="{{.Course.Name}}"><br><br>
        <textarea name="description" rows="10" cols="72">{{.Course.Description}}</textarea><br><br>
        <img src="{{.Course.Icon}}" alt="" class="avatar"><br><br>
        <input type="file" name="icon"><br><br>
        <img src="{{.Course.Background}}" alt="" class="bgCourse"><br><br>
        <input type="file" name="background"><br><br>
        <br>
        <button type="submit">Отправить</button>
    </form>
</main>
{{template "footer"}}
{{end}}