{{define "content"}}
{{template "header"}}
<title>{{.Title}}</title>
{{template "menu"}}
<main>
    <h1>Создание теста</h1>
    <hr>
    <section>
        <h2>Введите данные</h2>
        <form method="POST">
            <div class="register">
                <input type="text" name="name" placeholder="Название теста"><br><br>
                <textarea name="description" rows="4" cols="48" placeholder="Описание теста"></textarea><br><br>
                <select name="course">
                    {{range .Courses}}
                        <option value="{{.Id}}">{{.Name}}</option>
                    {{end}}
                </select>
                <br>
            </div>
            <h2>Вопросы:</h2>
            <div class="quest">
                <textarea name="quest_new" rows="2" cols="72" placeholder="Вопрос"></textarea><br><br>
                <div class="radio">
                    <input type="radio" name="new" value="1"> <input type="text" name="answer_1" placeholder="Вариант 1" class="radio-input">
                    <input type="radio" name="new" value="2"> <input type="text" name="answer_2" placeholder="Вариант 2" class="radio-input">
                    <input type="radio" name="new" value="3"> <input type="text" name="answer_3" placeholder="Вариант 3" class="radio-input">
                    <input type="radio" name="new" value="4"> <input type="text" name="answer_4" placeholder="Вариант 4" class="radio-input">
                    <input type="radio" name="new" value="5"> <input type="text" name="answer_5" placeholder="Вариант 5" class="radio-input">
                    <input type="radio" name="new" value="6"> <input type="text" name="answer_6" placeholder="Вариант 6" class="radio-input">
                </div>
            </div>
            <br>
            <button type="submit">Создать</button>
        </form>
    </section>
</main>
{{template "footer"}}
{{end}}