{{define "content"}}
{{template "header"}}
<title>{{.Title}}</title>
{{template "menu"}}
<main>
    <h1>Создание теста</h1>
    <form method="POST">
        <input type="text" name="name" placeholder="Название теста"><br><br>
        <textarea name="description" rows="2" cols="36">Описание</textarea><br><br>
        <select name="course">
            {{range .Courses}}
                <option value="{{.Id}}">{{.Name}}</option>
            {{end}}
        </select>
        <br>
        <div>Варианты ответов:</div><br>
        <button type="submit">Отправить</button>
    </form>
</main>
{{template "footer"}}
{{end}}