{{define "content"}}
{{template "header"}}
<title>{{.Title}}</title>
{{template "menu"}}
<main>
    <h1>Тестирование</h1>
    <hr>
    <section>
        <h2>{{.Testing.Course}}</h2>
        <h2>{{.Testing.Name}}</h2>
        <h3>{{.Testing.Description}}</h3>
        <form method="POST">
            <br>
            {{range .Questions}}
                <br>
                <div><b>{{.NumberQuestion}}. {{.Question}}</b></div>
                <div><input type="radio" name="{{.NumberQuestion}}" value="{{.Answer_1}}">{{.Answer_1}}</div>
                <div><input type="radio" name="{{.NumberQuestion}}" value="{{.Answer_2}}">{{.Answer_2}}</div>
                <div><input type="radio" name="{{.NumberQuestion}}" value="{{.Answer_3}}">{{.Answer_3}}</div>
                <div><input type="radio" name="{{.NumberQuestion}}" value="{{.Answer_4}}">{{.Answer_4}}</div>
                <div><input type="radio" name="{{.NumberQuestion}}" value="{{.Answer_5}}">{{.Answer_5}}</div>
                <div><input type="radio" name="{{.NumberQuestion}}" value="{{.Answer_6}}">{{.Answer_6}}</div>
                <br>
            {{end}}
            <br><br>
            <button type="submit">Отправить</button>
        </form>
    </section>
</main>
{{template "footer"}}
{{end}}


