{{define "content"}}
{{template "header"}}
<title>{{.Title}}</title>
{{template "menu"}}
<main>
    <h1>Редактирование теста</h1>
    <hr>
    <section>
        <form method="POST">
            <div class="register">
                <input type="text" name="name"value="{{.Testing.Name}}" placeholder="Название теста"><br><br>
                <textarea name="description" rows="10" cols="72" placeholder="Описание теста">{{.Testing.Description}}</textarea><br><br>
                <select name="course">
                    {{range .Course}}
                        {{if eq .Name $.Testing.Course}}
                            <option selected value="{{.Id}}">{{.Name}}</option>
                        {{else}}
                            <option value="{{.Id}}">{{.Name}}</option>
                        {{end}}
                    {{end}}
                </select><br><br>
            </div>
            <h2>Вопросы:</h2>
            {{range .Questions}}
                <br>
                <div><b>{{.NumberQuestion}}. {{.Question}}</b></div>
                    <div class="radio">
                    <input type="radio" name="{{.NumberQuestion}}" value="1">{{.Answer_1}}
                    <input type="radio" name="{{.NumberQuestion}}" value="2">{{.Answer_2}}
                    <input type="radio" name="{{.NumberQuestion}}" value="3">{{.Answer_3}}
                    <input type="radio" name="{{.NumberQuestion}}" value="4">{{.Answer_4}}
                    <input type="radio" name="{{.NumberQuestion}}" value="5">{{.Answer_5}}
                    <input type="radio" name="{{.NumberQuestion}}" value="6">{{.Answer_6}}
                </div>
            <br>
            {{end}}
            <div class="quest">
                <textarea name="quest_new" rows="2" cols="72" placeholder="Вопрос"></textarea><br><br>
                <div class="radio">
                    <input type="radio" name="new" value="1"> <input type="text" name="answer_1" placeholder="Вариант 1" class="radio-input">
                    <input type="radio" name="new" value="2"> <input type="text" name="answer_2" placeholder="Вариант 2" class="radio-input">
                    <input type="radio" name="new" value="3"> <input type="text" name="answer_3" placeholder="Вариант 3" class="radio-input">
                    <input type="radio" name="new" value="4"> <input type="text" name="answer_4" placeholder="Вариант 4" class="radio-input">
                    <input type="radio" name="new" value="5"> <input type="text" name="answer_5" placeholder="Вариант 5" class="radio-input">
                    <input type="radio" name="new" value="6"> <input type="text" name="answer_6" placeholder="Вариант 6" class="radio-input">
                </div>
            </div>
            <br>
            <button type="submit">Сохранить</button>
        
        </form>
    </section>
</main>
{{template "footer"}}
{{end}}