<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    {% include 'ins/header.html' %}
    <div class="container">
        {% include 'ins/aside.html' %}
        <div class="content">
            {% block content %}
                <!--Контент-->
            {% endblock %}
        </div>
    </div>
    {% include 'ins/footer.html' %}
</body>
</html>
