body, html {
    height: 100%;
    font-family: Arial;
    color: #333;
    background-color: #808080;
}

header {
    height: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/parallax.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.header-content {
    text-align: center;
    position: relative;
    z-index: 1;
}

menu {
    display: flex;
    background-color: #292929;
    margin: 0;
    padding: 1.25em 13.8% 1em 13.8%;
    text-align: center;
}
  
main {
    width: 70%;
    margin: auto;
    padding: 1em;
    background-color: #c5c5c5;
}

section {
    margin: 0.625em 3.125em 3.125em;
    padding: 1.25em;
    background-color: #fff;
    border-radius: 1.5625em;
    box-shadow: 0 0.3125em 0.3125em rgba(0, 0, 0, 0.1);
    text-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 0.25);
    text-align: justify;
}

footer {
    display: flex;
    background-color: dimgrey;
    color: #fff;
    padding: 1.25em 0;
    align-items: center;
    justify-content: center;
}

.col {
    display: block;
}

.row {
    display: flex;
}

.right {
    margin-right: auto;
    display: inherit;
}

.left {
    margin-left: auto;
    display: inherit;
}

.register {
    display: block;
    text-align: center;
}