body, html {
  height: 100%;
  font-family: Arial;
  color: #333;
  background-color: #808080;
}

header {
  height: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/parallax.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1.25em 0;
  text-align: center;
}

#menu {
  background-color: #292929;
  padding: 1.5em 1.25em;
  text-align: center;
}

.title {
  color: #333;
  display: block;
  font-size: 12em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, cursive;

  -webkit-text-shadow: 0.3125em 0.3125em 0.3125em rgba(0, 0, 0, 0.75);
  -moz-text-shadow: 0.3125em 0.3125em 0.3125em rgba(0, 0, 0, 0.75);
  text-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 0.75);
}

h2 {
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.15em rgba(0, 0, 0, 0.25);
}

h3 {
  text-align: center;
  font-style: italic;
}

.header-content {
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  background-color: #333;
  width: 8em;
  color: #fff;
  border: none;
  padding: 0.625em;
  margin: 0.5em;
  border-radius: 0.3125em;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #e2e2e2;
  color: #000000;
}

button {
  background-color: #333;
  width: 8em;
  color: #fff;
  border: none;
  padding: 0.625em;
  border-radius: 0.3125em;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e2e2e2;
  color: #000000;
}

#login {
  display: flex;
  flex-direction:row;
  align-items: center;
}

#up{
  position: fixed;
  width: 2.5em;
  bottom: 1.25em;
  right: 1.25em;
  padding: 0.625em;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

#up:hover {
  background-color: #e2e2e2;
  color: #000000;
}

.avatar {
  height: 100px;
  width: 100px;
}

.bgCourse {
  height: 300px;
  width: 100%;
  object-fit:cover;
}



