.title {
    font-size: 12em;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.75);
    -webkit-text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.75);
    -moz-text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.75);
}

.subtitle {
    font-size: 2.5em;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.75);
}

.btn-menu {
    text-decoration: none;
    background-color: #333;
    width: 8em;
    color: #fff;
    border: none;
    padding: 0.625em;
    margin: 0 0.5em;
    border-radius: 0.3125em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-menu:hover {
    background-color: lightgrey;
    color: black;
}

h1 {
    font-size: 3em;
    margin-left: 1.25em;
    text-shadow: 0.05em 0.05em 0.05em rgba(255, 255, 255, 0.75);
}

h2 {
    font-size: 2em;
    text-align: center;
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.75);
}

h3 {
    text-align: center;
    font-style: italic;
}

button {
    background-color: #333;
    width: 8em;
    color: #fff;
    border: none;
    padding: 0.625em;
    border-radius: 0.3125em;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e2e2e2;
    color: #000000;
}

.miniBtn {
    width: 2.5em;
    height: 1.6em;
    padding: 0;
    border-radius: 0;
}

input {
    height: 2em;
}