/**
Локальный месседжер
Студенты:
- Максим Покидько
18 марта 2024 г.
*/

.scrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}

.scrollButton:hover {
  background-color: #0056b3;
}

#up{
  position: fixed;
  z-index: 1;
  right: 1em;
  bottom: 1em;
}